* {
    box-sizing:border-box;
}
.naslov{
   font-weight:bold;
   font-family:Arial;
   color:red;
   
}

.panel-body{
    font-style:italic;
}
.panel-heading{
    font-weight:bold;
}
.pocetak{
    float:right;
    padding: 10px;
    margin: 15px;
}
.broj-pitanja{
    font-weight:bold;
    text-align:center;
   
}
.postavljenopitanje {
    width:100%;
    padding:12px;
    font-weight:bold;
    font-size:18px;
    background-color:#EEEEEE;
    text-align:center;"
}


.ponudjeni-odgovori {
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(2,auto);
    margin:9px;
    
}
.preskoci {
     float:right; 
     margin:20px; 
     background-color:#EEEEEE;
     width:20%;
     padding:12px;
     font-weight:bold;
     margin:9px;
}

.napusti {
     margin:20px; 
     background-color:#EEEEEE;
     width:20%;
     padding:12px;
     font-weight:bold;
}
.vreme{
    float:right;
    color:red;
    font-size:18px;
    font-weight:bold;
    margin:9px;
}

